<nav class="navbar">
    <div class="container">
        <ul class="nav-menu">
            <li><a href="{{ '/' | relative_url }}" class="nav-link">Home</a></li>
            <li><a href="{{ '/projects.html' | relative_url }}" class="nav-link">All Projects</a></li>
            <li><a href="{{ '/' | relative_url }}#experience" class="nav-link">Experience</a></li>
            <li><a href="{{ '/' | relative_url }}#education" class="nav-link">Education</a></li>
            <li><a href="{{ '/' | relative_url }}#contact" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>